name: CI Checks
on:
  push:
    branches:
      - main
  pull_request:
jobs:
  formatting:
    runs-on: ubuntu-20.04
    env:
      DFX_NETWORK: mainnet
    steps:
      - name: Checkout
        uses: actions/checkout@v3
        if: ${{ github.event_name == 'pull_request' }}
        with:
          ref: ${{ github.event.pull_request.head.ref }}
      - name: Checkout
        uses: actions/checkout@v3
        if: ${{ github.event_name != 'pull_request' }}
      - name: Install shfmt
        run: sudo snap install --classic shfmt
      - name: Format shell scripts
        run: ./scripts/fmt-sh
      - name: Restore dfx.json
        run: cp dfx.json.original dfx.json
      - name: Commit Formatting changes - will not trigger rebuild
        uses: EndBug/add-and-commit@v9.1.1
        if: ${{ github.event_name == 'pull_request' }}
        with:
          add: .
          author_name: Formatting Committer
          author_email: "<nobody@example.com>"
          message: "Updating frontend formatting"
  shell-checks:
    needs: formatting
    name: ShellCheck
    runs-on: ubuntu-20.04
    steps:
      - uses: actions/checkout@v3
      - name: Run ShellCheck
        uses: ludeeus/action-shellcheck@master
        env:
          SHELLCHECK_OPTS: -e SC1090 -e SC2119 -e SC1091 -e SC2121 -e SC2155 -e SC2094 -e SC2015
      - name: Clap works
        run: ./bin/clap.test
