name: Run non-interactive demo

on:
  push:
    branches:
      - main
  pull_request:

env:
  GH_TOKEN: ${{ github.token }}

jobs:

#  readme:
#    runs-on: ${{ matrix.os }}
#    strategy:
#      fail-fast: false
#      matrix:
#        os: [ macos-11, ubuntu-22.04 ]
#    steps:
#      - name: Checkout
#        uses: actions/checkout@v3
#      - name: Run the README code parts
#        run: bin/test-readme
  demo_current:
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: false
      matrix:
        os: [ macos-11, ubuntu-22.04 ]
    steps:
      - name: Checkout
        uses: actions/checkout@v3
      - name: Add user path
        run: |
          echo "$HOME/.local/bin" >> $GITHUB_PATH
          echo "$PWD/bin" >> $GITHUB_PATH

      - name: Unbork mac
        if: matrix.os == 'macos-11'
        run: |
          brew install bash
          echo "/usr/local/bin" >> $GITHUB_PATH
          echo "$(brew --prefix)/opt/gnu-sed/libexec/gnubin" >> $GITHUB_PATH
      - name: Install dependencies
        run: ./bin/dfx-sns-demo-install
      - name: Run the demo with the current default ic commits
        run: bin/dfx-sns-demo
  demo_latest:
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: false
      matrix:
        os: [ macos-11, ubuntu-22.04 ]
    steps:
      - name: Checkout
        uses: actions/checkout@v3
      - name: Add user path
        run: |
          echo "$HOME/.local/bin" >> $GITHUB_PATH
          echo "$PWD/bin" >> $GITHUB_PATH

      - name: Unbork mac
        if: matrix.os == 'macos-11'
        run: |
          brew install bash
          echo "/usr/local/bin" >> $GITHUB_PATH
          echo "$(brew --prefix)/opt/gnu-sed/libexec/gnubin" >> $GITHUB_PATH
      - name: Install dependencies
        run: ./bin/dfx-sns-demo-install
      # Clone the ic repo so that we can find the latest published commit. 
      - name: Checkout ic repo
        uses: actions/checkout@v3
        with:
          repository: dfinity/ic
          ref: master
          fetch-depth: 100
          path: ic
      - name: Run the demo with the latest repo
        run: bin/dfx-sns-demo --ic_commit latest --ic_dir ic
